/*elementos gerais*/ 

body{
	margin: 0 auto;
	padding: 0;
	background-color: #C2C9DA;
}

header{
	background-color: #324065;
	color: white;
	padding: 1px 0 1px 0;
	font-weight: bold;
}

nav{
	width: 54px;
	height: 20px;
	margin: 4px 0 0 15px;
	float: left;
	border-right: 1px solid white;
}

nav ul{
	padding-left: 0;
	margin: 0px;
	list-style: none;
}

#menu ul{
	display: none;
	background-color: #4b597c;
	position: relative;
}

#menu:hover ul{
	display: block;
}

#acoes li a{
	color: white;
	text-decoration: none;
	font-weight: normal;
	padding: 7px 24px 7px 8px;
	margin-left: -8px;
}

#acoes{
	margin: 2px 0 0 -15px;
	padding: 1px 0 1px 5px;
	width: 65px;
}

#acoes li{
	padding: 7px 0 7px 7px;
	margin-left: -5px;
}

#acoes li:hover{
	background-color: #324065;
}

h2{
	width: 100px;
	margin-left: 43%;
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 18px;
}

.content{
	margin: 0 auto;
	width: 667px;
	height: 549px;
}

#area_mapa{
	height: 286px;
	padding: 0 2px 0 2px;
}

#mapa{
	margin-top: 8px;
	float: left;
	width: 477px;
}

#sortable1{
	background-color: #4b597c;
	padding: 0px 2px 20px 13px;
	width: 164px;
	height: 231px;
	float: left;
	margin: 15px 0 0 7px;
}

#comandos{
	margin: 0;
	margin-bottom: 10px;
	width: 78px;
	margin-left: -13px;
	padding: 10px 51px 10px 50px;
	background-color: #324065;
	color: white;
}

#drop_area{
	width: 915px;
	margin-top: 20px;
}

#palco{
	margin-top: 5px;
	width: 505px;
	height: 195px;
	float: left;
	background-image: url(../img/palco.png);
}

#palco img{
	margin: 0;
}

#botoes{
	margin-top: 28px;
	width: 130px;
	float: left;
	margin-left: 7px;
}

#botoes button{
	width: 130px;
	background-color: #4b597c;
	border: #4b597c;
	margin-bottom: 5px;
	padding-left: 22px;
}

#botoes button img{
	float: left;
}

#botoes button p{
	float: left;
	margin: 13px 0 13px 3px;
	color: white;
	font-weight: bold;
}

#logout{
	background-color: transparent;
	border-color: transparent;
	float: right;
	margin-top: 7px;
}

#iniciar{
	padding: 9px 3px 0 0;
}

#pausar, #limpar{
	padding: 13px 7px 0 2px;
}

#trilha p{
	width: 285px;
	padding: 2px 0px 2px 204px;
	height: 18px;
	margin: 0;
	background-color: #324065;
	color: white;
	margin-left: 14px;
}

#trilha{
	float: left;
	margin-left: 20px;
}


/*Tela de abertura*/

#abertura{
	background-color: #324065;
}

#logo{
	margin: 0 auto;
	width: 434px;
	margin-top: 150px;
	text-align: center;
}

#bt{
	margin-top: 40px;
}

.app button{
	width: 100px;
	float: left;
	margin: 5px 0 0 10px;
	background: transparent;
	border: none;
	font-size: 17px;
	font-weight: normal;
	color: white;
}

#sair{
	width: 65px;
	border-left: 1px solid;
}

#sair a{
	color: white;
	text-decoration: none;
}

.app{
	width: 190px;
	float: right;
}
